/* 2017-03-13  by 曹磊 */

.fixed-box{width: 100%;height: auto;z-index: 500}

/*..................................区服选择................................*/
.search-game .sgame{position: relative; padding:.15rem .3rem; height:1.2rem;  }
.search-game .sgame span{float:left; width:50%; height:.36rem; line-height:.36rem; padding-left:.2rem; margin-top:.25rem; border-left:.07rem solid #f75e46; white-space:nowrap; }
.search-game .sgame .text-input{float:left; height:.88rem; width:50%; padding-left:.96rem;  border:1px solid #e8e8e8; border-radius:0;  line-height:.5rem; color:#bbb; background:url(../../images/search4.png) .3rem center no-repeat #fff; background-size:.33rem }
.search-list{}
.search-list .slist{}
.search-list .slist li{ line-height:1.2rem; float:left; text-align:center; border-bottom:1px solid #e8e8e8; padding:0 .1rem; white-space: nowrap; overflow:hidden; }
.search-list .slist .style01 li{ width:100%;  }
.search-list .slist .style02 li{ width:50%; border-right:1px solid #e8e8e8; }
.search-list .slist .style03 li{ width:33.33%; border-right:1px solid #e8e8e8;}
.mt-100{margin-top:.97rem;}


.list-select{ width:100%; max-width:768px; position: relative; z-index:32;  }
.list-select .select-main{ background-color:#fbfbfb;  width:100%; position: relative; line-height:1rem; font-size:.32rem;}
.list-select .select-left{z-index:2; float:left; width:50%; box-sizing:border-box; border-right:1px solid #e8e8e8; }
.list-select .select-right{z-index:2; float:right; width:50%;}
.list-select .select-dlleft{z-index:2; float:left; width:33.3%; box-sizing:border-box;  border-right:1px solid #e8e8e8; }
.list-select .select-dlright{z-index:2; float:right; width:33%;}

.list-select #divselect{ float:left; width:100%; margin:0 auto; position:relative; z-index:4;}
.list-select #divselect2{ float:left; width:100%; margin:0 auto; position:relative; z-index:4;}
.list-select .select-main span{display:block; box-sizing:border-box; width:100%; height:1rem;line-height:1rem; text-align:center; cursor:pointer; background: #fff; outline: 0; color:#000;border-bottom: 1px solid #e8e8e8}
.list-select .select-main span cite{font-style:normal; color:#000;}
.list-select .select-main span img{padding-left:.2rem; width:0.5rem;}

.list-select .showcata, .list-select .showcata2, .list-select .showcata3 ul{width:100%; position:relative; font-size:.32rem; }
.list-select .showcata ul li, .list-select .showcata2 ul li, .list-select .showcata3 ul li{line-height:1rem; border-bottom:1px solid #e8e8e8;  }
.list-select .showcata ul li a, .list-select .showcata2 ul li a, .list-select .showcata3 ul li a{color:#333; text-decoration:none; }
.list-select .showcata, .list-select .showcata2, .list-select .showcata3{ z-index:31; position:absolute; top:1rem; width:100%; background:#fbfbfb; display:none; text-align:center;}


.list-main2{ width:100%; padding-top: 2.22rem;overflow: hidden}

.list-main .lists{ width:100%; margin-bottom: 0.6rem; background:#fff; }
.list-main div.topc{margin:0.6rem auto 1rem auto;  width:60%; height:1rem; line-height:1rem; background:#f75e46; font-size:.32rem; text-align:center; clear:both;  }
.list-main div.topc a{ color:#fff; display:block;  width:100%; height:1rem;}


.list-main{width:100%; position: relative; }
.list-main a{color: #000; }
.list-main .pro-list{padding:.3rem .3rem; width:100%; box-sizing:border-box; border-bottom:1px solid #e8e8e8; background:#fff;  height:2rem; overflow:hidden; }
.list-main .pro-list .pro-pic{float:left; width:1.3rem !important; overflow:hidden; position: relative; height:1.3rem; line-height:1.3rem; background:#f1f1f1; }
.list-main .pro-list .pro-pic img{ height:1.3rem; vertical-align:top; }
.pro-list .pro-pic .pro-cata{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .pro-cata2{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .pro-cata3{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .pro-cata4{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .pro-cata5{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .cata-shou{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .cata-dai{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .cata-xu{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .cata-a{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.pro-list .pro-pic .cata-jin{ z-index:1; position:absolute; top:0; left:0.96rem; width:.35rem; height:.35rem; text-align:center; font-size:.16rem; color:#fff; background:#4bd934; line-height:.35rem; }
.list-main .pro-list .pro-title{float:right; width:4.6rem; min-width:80%; box-sizing:border-box; padding-left:.2rem; font-size:.26rem; max-height: 2rem; overflow: hidden; line-height:0.4rem; }
.list-main .pro-list .pro-title p{color:#333; }

.list-main .pro-list .pro-title p.title{font-size:.28rem; color:#333; height:1.042rem; line-height:1.042rem; white-space:nowrap; overflow:Hidden;}
.list-main .pro-list .pro-title p.price{font-size:.28rem; color:#f75e46; line-height:.4rem;}

.list-main .pro-list .pro-title p.price2{padding-bottom:.292rem; font-size:.667rem; color:#333; line-height:1.042rem;}
.list-main .pro-list .pro-title p.title3{font-size:.28rem; color:#333; max-height:1.6rem;  overflow:Hidden;}
.list-main .pro-list .pro-title p.price3{font-size:.36rem; color:#f75e46; padding-top:.12rem;}
.list-main .pro-list .pro-title p.price3 span{ color:#999; padding-left:.4rem;}
.list-main .pro-list .pro-title p.price3 i{ float:right; width:0.32rem; height:.32rem; text-indent:-9999px; background:url('../../images/axm.png') center center no-repeat; background-size:1.2rem;}
.list-main .pro-list .pro-title p.price3 i.axm{ float:right; margin-left:.2rem;  width:.32rem; height:.32rem; text-indent:-9999px; background:url('../../images/icon-axm.png') center center no-repeat; background-size:.32rem;}
.list-main .pro-list .pro-title p.price3 i.pcPro{ float:right; margin-left:.2rem;  width:.32rem; height:.32rem; text-indent:-9999px; background:url('../../images/icon-pc.png') center center no-repeat; background-size:.32rem;}
.list-main .pro-list .pro-title p.price3 i.mobPro{ float:right; margin-left:.2rem; width:.32rem; height:.32rem; text-indent:-9999px; background:url('../../images/icon-mob.png') center center no-repeat; background-size:.32rem;}
.list-main .pro-list .pro-title p.price3 i.ji{ float:right; margin-left:.2rem; width:.32rem; height:.32rem; line-height:.32rem; text-align:center; color:#fff; text-indent:0; background:#ef2eb0; }
.list-main .pro-list .pro-title p.price3 i.dan{ float:right; margin-left:.2rem; width:.32rem; height:.32rem; line-height:.32rem; text-align:center; color:#fff; text-indent:0; background:#74b701; }
.list-main .pro-list .pro-title p.price3 em{ float:right; height:.4rem; line-height:.4rem; font-size:.30rem; color:#666; padding-left:.3rem; min-width:1.2rem; }

.list-main .pro-list .pro-coins{float:right; width:77%; position:relative; font-size:30px; color:#333;  }
.list-main .pro-list .pro-coins .pro-coins-bt{ float:left; width:100%;line-height:1.042rem; }
.list-main .pro-list .pro-coins .pro-coins-buy{ float:left; width:100%; line-height:71px; margin:5px 0 0 0 ;}
.list-main .pro-list .pro-coins .coins-number{float:left; position:relative;  }
.list-main .pro-list .pro-coins .coins-number input{float:left; width:140px; height:71px;line-height:40px; border:1px solid #e8e8e8; padding:0 5px; font-size:30px; text-align:center;}
.list-main .pro-list .pro-coins .coins-number span{float:left; padding-left:12px; color:#000;}
.list-main .pro-list .pro-coins .coins-money{float:left; width:29%; padding:0 10px; font-size:32px; color:#f75e46; text-align:center; }
.list-main .pro-list .pro-coins .coins-button{float:right; width:19%; padding-right:30px; }
.list-main .pro-list .pro-coins .coins-button a{display:block; background:#f75e46; color:#fff; text-align:center; }


.list-main .prolist-title{float:left; width:100%; position: relative; }
.list-main .prolist-title span{padding-left:.625rem; font-size:.625rem; color:#999; line-height:2.188rem;}
.list-main .pro-title span{color:#f75e46;}


/*筛选*/
.filter{ position:absolute; top:0; bottom:0; width:100%;height: 100%; z-index:50; margin:0 auto;display: none;}
.filter-list{ background:#f1f1f1; width:100%;height:100%;}

.filter-list .filter-body{ color:#000; box-sizing:border-box;}
.filter-list .filter-body .filter01{  width:100%; background:#fff;}
.filter-list .filter-body h3.filter-title{ padding-left:.3rem;  box-sizing:border-box; width:100%; line-height:1rem;}
.filter-list .filter-body h3.filter-title span{ float:right; display:block; text-align:right; width:70%; line-height:1rem; vertical-align: middle; cursor:pointer;}
.filter-list .filter-body h3.filter-title span i{ width:0.48rem; height:1rem; display:inline-block; vertical-align: top; margin-right:.3rem; background:url('../../images/right2.png') right center no-repeat; background-size:.18rem;}
.filter-list .filter-body .filter-ul{ padding:.2rem;  box-sizing:border-box; width:100%; }
.filter-list .filter-body .filter-ul ul li{ width:33.33%; padding:.12rem; box-sizing:border-box; display:inline-block; float:left;  }
.filter-list .filter-body .filter-ul ul li input{ display:none;  }
.filter-list .filter-body .filter-ul ul li span{ display:block; width:100% ; box-sizing:border-box; border:1px solid #dedede; line-height:0.9rem; text-align:center; cursor:pointer; }
.filter-list .filter-body .filter-ul ul li.active span{ color:#f75e46; border:1px solid #f75e46; }
.filter-list .filter-body .filter-ul .downmore{ width:100%; height:0.48rem; margin-top:.12rem; background:url('../../images/common/downmore.png') center center no-repeat; background-size:.25rem;}
.filter-list .filter-body .filter-ul .upmore{ width:100%; height:0.48rem; margin-top:.12rem; background:url('../../images/common/upmore.png') center center no-repeat; background-size:.25rem;}

.filter-more{ position:absolute; top:0; bottom:0; width:100%; z-index:102; margin:0 auto; display:none; }
.filter-prof{ position:absolute; top:0; bottom:0; width:100%; z-index:102; margin:0 auto; display:none;}
.filter-prof2{ background:#fff; float:right; width:90%;height: 100% }
.filter-prof2 .filter-search{ height:1.02rem; width:100%; padding:0.26rem; box-sizing:border-box; }
.filter-prof2 .filter-search input{ width:100%; height:0.5rem; line-height:0.5rem;border: none; background:url('../../images/common/redsearch.png') right center no-repeat; background-size:0.4rem; }
.filter-prof2 .prof2-list{ width:100%; box-sizing:border-box; padding: 0 0.2rem}
.filter-prof2 .prof2-list ul li{ width:100%; height:1.02rem; padding: 0.26rem; line-height:0.5rem; text-align:right;  }
.filter-prof2 .prof2-list ul li em{ float:left;  }
.filter-prof2 .prof2-list ul li span{ display:inline-block; vertical-align: middle;  }
.filter-prof2 .prof2-list ul li span i{ display:block; border:1px solid #ddd; width:.4rem; height:.4rem; vertical-align: top; background:#fff url('../../images/common/greyok.png') center center no-repeat; background-size:.26rem; }
.filter-prof2 .prof2-list ul li.active span i{ display:block; border:1px solid #ddd; width:.4rem; height:.4rem; vertical-align: top; background:#f75e46 url('../../images/common/redok.png') center center no-repeat; background-size:.26rem; }
.filter-prof2 .prof2-list ul span i input{ display:none;  }

.filter-prof2 .prof2-check{  padding:.4rem;width:100%; background:#fff; }
.filter-prof2 .prof2-check a{ display:inline-block;position: relative; width:100%;text-align: center; line-height:0.96rem; height:0.96rem; overflow:hidden; color: #fff;background: #f75e46}

.filter-list .filter-foot{  padding:.3rem; box-sizing:border-box; width:100%; background:#fff; }
.filter-list .filter-foot a{ display:block; width:100%; line-height:0.96rem; height:0.96rem; overflow:hidden; text-align:center; color:#fff; background:#f75e46; }
.filter-list .filter-foot em.whitesearch{ display:inline-block;width:0.6rem; line-height:0.96rem; height:0.96rem; background:url('../../images/common/whitesearch.png') left center no-repeat; vertical-align: top; background-size:.4rem; }

.maskdiv3 { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 51; filter: alpha(opacity=70); opacity: .7; display: block; overflow-x: hidden;  overflow-y: auto;}



/* 登录滑动 */

#slider {
    margin: 0.3rem .48rem;
    height: 1.02rem;
    position: relative;
    border-radius: 2px;
    background-color: #ddd;
    overflow: hidden;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#slider_bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #7AC23C;
    z-index: 1;
}

#label {
    width: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 1.02rem;
    line-height: 1.04rem;
    border: 1px solid #cccccc;
    background: #fff;
    z-index: 3;
    cursor: move;
    color: #ddd;
    font-size: .36rem;
    font-weight: 900;
    font-family: none;
    box-sizing:border-box;
}

#labelTip {
    position: absolute;
    left: .48rem;;
    width: 100%;
    height: 100%;
    font-size: .36rem;
    font-family: 'Microsoft Yahei', serif;
    color: #000;
    line-height: 1.04rem;
    text-align: center;
    z-index: 2;
}
.login-step-first{}
.login-step-second{ display:none;}






